
.email-glyph clipPath rect {
  opacity: 1;
  fill: #BA9E9E;
  fill-opacity: 0.63157893;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 0.7676768;
}
#clipPath4175 path {
  fill: none;
  fill-rule: evenodd;
  stroke: #000;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}



#clipPath4185 path,
#clipPath4195 path {
  opacity: 1;
  fill: #C28D8D;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 0.7676768;
}

.g1 path:first-child {
  opacity: 1;
  fill: #0A82BE;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 7.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.g1 path:last-child {
  opacity:1;
  fill: #000;
  fill-opacity: 0.16161619;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 7.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}

.g2 path:first-child {
  opacity:1;
  fill: #E9E9E9;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 0.7676768;
}
.g2 path:last-child {
  fill: #FFF;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #979797;
  stroke-width: 7.46534538;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

