
// Sass Variable Declarations
// --------------------------
$PUBLIC_BASE: 'http://www.daviepoplarcapital.com/public/';


// Styles
// --------------------------
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-locale: 'en';
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: $content-dark url('#{$PUBLIC_BASE}images/Site_bg.jpeg') no-repeat fixed top left / cover;
  overflow: hidden;
}

noscript {
  width: 50%;
  height: auto;
  font: 1.428571rem/1.428571 Roboto, 'Helvetica Neue', sans-serif;
  color: $content-error;
}

main {
  display: flex;
  width: 100vw;
  height: 93vh;
  bottom: 7vh;
  margin: 0;
  padding: 0;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

a,
a:visited,
a:focus,
a:active { text-decoration: none; }

footer {
  position: absolute;
  display: block;
  width: 100vw;
  height: 7vh;
  left: 0;
  bottom: 0;
  background-color: $content-dark;
  z-index: 20;
}
