
// DPC Logo:
.DPC-logo {
  width: 570px;
  height: 275px;
  background-color: $theme-primary-op;
  letter-spacing: 3px;

  text {
    text-anchor: middle;
    text-align: center;
    fill: #FFF;

    &[data-section='logo-head'] { font: bold 100px/110px Georgia, sans-serif; }
    &[data-section='logo-sub'] {
      font: small-caps lighter 35px/35px Georgia, sans-serif;
      stroke: none;
    }
  }
  line { @include svg(#FFF, 1); }
}


// LinkedIn Logo:
.linkedIn-logo {
  circle {
    @include cbCSSTransformation(transition, fill 0.3s ease-in-out);
    fill: #E9E9E9;
    cx: 13.8972857px;
    cy: 13.7034643px;
    r: 13.0178571px;
    + g {
      @include cbCSSTransformation(transform, translate(6.75px, 7.714286px));
      @include svg(none, 0, 1);
      path { fill: $content-dark; }
    }
  }
  > g:first-child { @include svg(none, 1, 1, none, 1, evenodd); }
  &:hover circle { fill: $linkedIn-blue; }
}


// Email Glyph Icon:
.email-glyph {
  rect {
    @include svg(none, 2, 0.7676768, #BA9E9E, 0.63157893);
    width: 500px;
    height: 328.57144px;
  }
  #clipPath4175 path {
    @include svg(#000, 10, 1, none, 1, evenodd);
    @include cbCSSTransformation(transform, translate(196px, 343px));
  }
  #clipPath4185 path,
  #clipPath4195 path { @include svg(none, 2, 0.7676768, #C28D8D); }
  #clipPath4185 path { @include cbCSSTransformation(transform, matrix(1, 0, 0, 1.0581841, 402.23997, -201.34757)); }
  #clipPath4195 path { @include cbCSSTransformation(transform, matrix(1, 0, 0, 1.0581841, -195.97237, -393.68061)); }

  .glyph-main {
    @include cbCSSTransformation(transform, translate(-124.9887px, -685.13414px));
    > g { @include cbCSSTransformation(transform, matrix(1.0042942, 0, 0, 1.0049899, -1269.9646, 728.76886)); }
  }
  .g1 path:first-child {
    @include cbCSSTransformation(transition, fill 0.3s ease-in-out);
    @include svg(none, 7.5, 1, $content-light);
  }
  .g1 path:last-child { @include svg(none, 7.5, 1, #000, 0.16161619); }
  .g2 path:first-child {
    @include svg(none, 2, 0.7676768, #E9E9E9);
    @include cbCSSTransformation(transform, matrix(1.9621585, 0, 0, 1.9999006, 1430.5884, -501.93632));
  }
  .g2 path:last-child { @include svg(#979797, 7.5, 1, #FFF, 1, evenodd); }
  &:hover .g1 path:first-child { fill: $linkedIn-blue; }
}

